process {  
    container = 'dilmicperera/mantis_msisensor:latest'
    memory = 8.GB
        
}
docker.enabled = true
params.data_folder = "s3://cg-rd/output"
params.normal_bam = "inputs/Pooled_normal.bam"
params.normal_bai = "inputs/Pooled_normal.bam.bai"
params.loci_file_msisensor = "inputs/microsats.from.pipeline.red.bed"
params.bam_folder = "200821_M03829_0351_000000000-J8M8P"
params.output_folder = "s3://dperera-orchestration-nextflow-bioinformatics-ch/Outputs"
params.loci_file_mantis = "inputs/MANTIS_loci.bed"
params.genome_fa = "s3://ngi-igenomes/igenomes/Homo_sapiens/UCSC/hg19/Sequence/WholeGenomeFasta/genome.fa"
params.combine_outputs = "src/combine_outputs.py"
params.ML_classifier = "src/ML_classifier.py"
params.msisensor_score_threshold = 50
params.mantis_score_threshold = 0.4
params.genome_fa_fai = "s3://ngi-igenomes/igenomes/Homo_sapiens/UCSC/hg19/Sequence/WholeGenomeFasta/genome.fa.fai"
